{% extends "content.html" %}

{% block table %}

    <div class="badge badge-secondary p-2 w-100"><h3>Добавить в таблицу {{name_of_table}}</h3>
        <form action="/main/work_with_tables/" method="post">
            <div class="form-row">    <!-- один строка для ввода -->
                {% for key, znach in name_of_rows.items %}
                    <div class="form-group col-md-3">   <!-- одна форма ввода -->
                      <label for="add">{{key}}</label>
                      <input class="form-control" id="add" name="{{znach}}" value="{{ value }}" autocomplete="off">
                    </div>
                {% endfor %}

                {% for key, value in ids.items %}
                    <div class="form-group col-md-3">   <!-- одна форма ввода (дропдовн)-->
                      <label for="add">{{key}}</label>
                        <select id="add" name="{{value}}" class="form-control">
                            <option selected disabled>Выберите...</option>
                            {% for key_, value_ in tables.items %}
                                {% if value == key_ %}
                                    {% for j in value_ %}
                                        <option>{{j}}</option>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}

                {% if code %}   <!-- если требуется код -->
                    <div class="custom-file w-25 mt-4 ml-1">
                        <input type="file" class="custom-file-input" id="add" name="bar_code">
                        <label class="custom-file-label" for="add">Штрих-код</label>
                    </div>
                {% endif %}

            </div>
          <button type="submit" class="btn btn-primary w-100" id="add">Добавить</button>
        </form>
    </div>

    {% if win == True %}
        <form action="/main/mode/" method="post">
            <button id="mode" name="mode" class="btn w-100" type="submit" value="смотр : {{name_of_table}}">
                <div class="alert alert-success mt-3" align="center" role="alert">
                    <h3>Запись добавлена</h3><br>
                    <h5>Для просмотра добавленной записи нажмите на это поле</h5>
                </div>
           </button>
        </form>
    {% endif %}

    {% if win == False %}
        <div class="alert alert-danger mt-3" align="center" role="alert"><h3>Ошибка, проверьте правильность заполнения полей!</h3></div>
    {% endif %}

{% endblock %}