{% extends "index.html" %}

{% block header %}
    <div class="container-fluid p-0">

        <div class="navbar bg-dark">    <!-- Хедер -->

            <h1><span class="nav badge badge-secondary">Курсовой проект </span></h1>

            <h1><span class="btn badge badge-secondary">Войти</span></h1>

        </div>

        <div class="container-fluid p-5">   <!-- Кнопки на работу с таблицей -->

            <h3><div class="badge badge-secondary p-3">Работа с элементами таблиц

            {% for i in object_list.Buttons.0 %}

                <div class="mx-auto dropright m-5">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{i}}
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                        {% for j in object_list.Buttons.1.0 %}
                            <a class="dropdown-item text-primary" href="#">{{j}}</a>
                        {% endfor %}

                        <div class="dropdown-divider"></div>    <!-- Разделитель -->

                        {% for j in object_list.Buttons.1.1 %}
                            <a class="dropdown-item text-secondary" href="#">{{j}}</a>
                        {% endfor %}

                    </div>
                </div>
            {% endfor%}
            </div></h3>
        </div>


    </div>



{% endblock %}