{% extends "index.html" %}

{% block content %}

<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-sm-1 mr-auto"> <!-- для генерации разметки, пеню - маленькое -->
      <div class="badge badge-secondary p-3 ml-1"><h3 class="">Работа с данными<br>таблиц</h3>

                {% for i in Buttons.0 %}

                    <div class="mx-auto dropright m-3">     <!-- Вывод кнопок -->
                        <button class="btn btn-info dropdown-toggle w-75" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{i}}
                        </button>
                        <div class="dropdown-menu">     <!-- одна кнопка -->
                            <form action="/main/mode/" method="post">
                                {% for j in Buttons.1.0 %}
                                    <button class="dropdown-item text-primary btn btn-info" id="mode" name="mode" type="submit" value="{{i}} : {{j}}">{{j}}</button>
                                {% endfor %}

                                <div class="dropdown-divider"></div>    <!-- Разделитель -->

                                {% for j in Buttons.1.1 %}
                                    <button class="dropdown-item text-secondary btn btn-info" id="mode" name="mode" type="submit" value="{{i}} : {{j}}">{{j}}</button>
                                {% endfor %}
                            </form>
                        </div>
                    </div>

                {% endfor%}

                <hr class="mb-2">
                <h3>Задания</h3>
                {% for i in Buttons_for_task %}
                    <form action="/main/mode/" method="post">
                        <button class="mx-auto btn btn-info w-75 mb-3" id="mode" name="mode" type="submit" value="{{i}}"> {{i}} </button>
                    </form>
                {% endfor%}
                <form action="/запросы/" method="post">
                    <button class="mx-auto btn btn-info w-75 mb-3" id="mode" name="mode" type="submit" value="querys">Запросы</button>
                </form>
            </div>
    </div>

    <div class="col-sm-10 pl-5 pr-4">
            {% block table %}

            {% endblock %}
    </div>
  </div>
</div>

{% endblock %}
