{% extends "content.html"%}

{% block table %}

<div class="badge badge-secondary p-2 w-100"><h3>Введите желаемые данные</h3></div>

        <form action="/запросы/" method="post">
            <div class="container-fluid mt-3">
                <div class="row">

                    <div class="form-group badge badge-secondary col p-2 mr-3">
                        <h5><p>1.Вывод всех типов аптек (и их количество)<br> по заданному району.</p></h5>
                        <label for="pre_querys">Выберите тип желаемый район:</label>
                        <select class="form-control w-50 m-auto" id="pre_querys" name="first_querys">
                            {% for row in sixth_querys_district %}
                                <option>{{row}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group badge badge-secondary col p-2">
                        <h5><p>2.Вывод всех медикаментов из заданной аптеки.</p></h5>
                        <label for="pre_querys">Выбрите желаемую аптеку:</label></h4>
                        <select class="form-control w-50 m-auto" id="pre_querys" name="second_querys">
                            {% for row in second_querys %}
                                <option>{{row}}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
            </div>


            <div class="badge badge-secondary p-2 w-100">
                <h5><p>3.Получение всех партий поступивших в аптеку после определенного числа.</p></h5>
                <div class="form-row">
                    <div class="w-25 ml-auto">
                        <label for="pre_querys">Аптеки:</label>
                        <select class="form-control" id="pre_querys" name="third_querys">
                            {% for row in second_querys %}
                                <option>{{row}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="w-25 ml-auto mr-auto">
                        <label for="pre_querys">Введите дату:</label>
                        <input class="form-control" id="pre_querys" name="third_querys" type="date" tabindex="1" required>
                    </div>
                </div>
            </div>

            <div class="mt-3 badge badge-secondary p-2 w-100">
                <h5><p>4.Получение всех партий поступивших в аптеку за определенный период.</p></h5>
                <div class="form-row">
                    <div class="col">
                        <label for="pre_querys" class="">Аптеки:</label>
                        <select class="form-control w-75 m-auto" id="pre_querys" name="fourth_querys">
                            {% for row in second_querys %}
                                <option>{{row}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label class="" for="pre_querys">Первая дата:</label>
                        <input class="form-control w-75 m-auto" id="pre_querys" name="fourth_querys" type="date" tabindex="1" required>
                    </div>
                    <div class="col">
                        <label class="" for="pre_querys">Вторая дата:</label>
                        <input class="form-control w-75 m-auto" id="pre_querys" name="fourth_querys" type="date" tabindex="1" required>
                    </div>
                </div>
            </div>

            <div class="form-group badge badge-secondary p-2 mt-3 col">
                <h5><p>5.Получение всех возвратов и их причин по определенной фирме.</p></h5>
                <select class="form-control w-25 m-auto" id="pre_querys" name="fifth_querys">
                    {% for row in fifth_querys %}
                        <option>{{row}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="badge badge-secondary p-2 w-100">
                <h5><p>10.Получение определенного лекарства определенной формы по определенному району.</p></h5>
                <div class="form-row">
                    <div class="w-25 col">
                        <label for="pre_querys">Название лекарства:</label>
                        <select class="form-control w-75 m-auto" id="pre_querys" name="tenth_querys">
                            {% for row in tenth_querys_name_of_medicament %}
                                <option>{{row}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="w-25 col">
                        <label for="pre_querys">Форма:</label>
                        <select class="form-control w-75 m-auto" id="pre_querys" name="tenth_querys">
                            {% for row in tenth_querys %}
                                <option>{{row}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="w-25 col">
                        <label for="pre_querys">Район:</label>
                        <select class="form-control w-75 m-auto" id="pre_querys" name="tenth_querys">
                            {% for row in sixth_querys_district %}
                                <option>{{row}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group badge badge-secondary p-2 col mt-3">
                <h5><p>11.Получение всех сотрудников аптек по району.</p></h5>
                <select class="form-control w-25 m-auto" id="pre_querys" name="eleventh_querys">
                    {% for row in sixth_querys_district %}
                        <option>{{row}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group badge badge-secondary p-2 col">
                <h5><p>12.Получение всех дешевых лекарств опредленного типа по району.</p></h5>
                <div class="row">
                    <select class="form-control w-25 m-auto" id="pre_querys" name="twelveth_querys">
                        {% for row in sixth_querys_medicament %}
                            <option>{{row}}</option>
                        {% endfor %}
                    </select>
                    <select class="form-control w-25 m-auto" id="pre_querys" name="twelveth_querys">
                        {% for row in sixth_querys_district %}
                            <option>{{row}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <button class="p-3 w-100 btn btn-info mb-5" id="pre_querys" type="submit" tabindex="1">Продолжить</button>
        </form>

{% endblock %}