{% extends "content.html" %}

{% block table %}

    <table class="table table-bordered table-dark">
        <tr>
            <td class="w-25" colspan="{{name_of_rows|length}}" align="center">Таблица {{name_of_table}}</td>
        </tr>
        <tr>
            {% for i in name_of_rows %}
                <td class="m-5">{{i}}</td>
            {% endfor %}
        </tr>
        {% for i in Table %}
            <tr class="table-bordered">
                {% for j in i %}
                    <td class="m-5">{{j}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    {% if pagination == True %}
        <nav class="pagin">
            <form action="/main/mode/" method="post">
                <ul class="pagination">
                    <li class="page-item"><button class="page-link" href="/main/mode/" name="cursor" value="{{name_of_table}}, prev" type="submit"><</button></li>
                    <li class="page-item"><button class="page-link" href="/main/mode/" name="cursor" value="{{name_of_table}}, next" type="submit">></button></li>
                </ul>
            </form>
        </nav>
    {% endif %}

{% endblock %}