{% extends "content.html" %}

{% block table %}

    <table class="badge badge-secondary p-3 w-100 table table-hover">
        <tr class="table-bordered"><td class="w-25" colspan="{{name_of_rows|length}}">Таблица {{name_of_table}}</td></tr>
        <tr class="table table-hover table-bordered">
            {% for i in name_of_rows %}
                <td class="m-5">{{i}}</td>
            {% endfor %}
        </tr>
        {% for i in Table %}
            <tr class="table-bordered">
                {% for j in i %}
                    <td class="m-5">{{j}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <nav class="nav navbar">
        <ul class="pagination nav navbar navbar-left">
        </ul>
        <ul class="pagination nav navbar navbar-right">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>

{% endblock %}