{% extends "content.html" %}

{% block table %}

    <div class="badge badge-secondary p-2 w-100">
        <form action="/main/task1/" method="post"><h3>Выберите нужные параметры (один из)</h3>
            <div class="form-row">    <!-- один строка для ввода -->
                {% for key, value in ids.items %}
                    <div class="form-group col-md-3">   <!-- одна форма ввода (дропдовн)-->
                      <label for="add">{{key}}</label>
                        <select id="add" name="Аптека" class="form-control" tabindex="1">
                            <option selected disabled>Выберите...</option>
                            {% for row in value %}
                                <option>{{row}}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
            </div>
          <button type="submit" class="btn btn-primary w-100" id="add">Найти</button>
        </form>
    </div>

    {% if win == True %}
        <form action="/main/mode/" method="post">
            <button id="mode" name="mode" class="btn w-100" type="submit" value="смотр : {{name_of_table}}">
                <div class="alert alert-success mt-3" align="center" role="alert">
                    <h3>Записи найдены</h3><br>
                </div>
           </button>
        </form>
    {% endif %}

    {% if win == False %}
        <div class="alert alert-danger mt-3" align="center" role="alert"><h3>{{cause}}</h3></div>
    {% endif %}

{% endblock %}