{% extends "content.html" %}

{% block table %}

    <div class="badge badge-secondary p-2 w-100">
        <form action="/main/task1/" method="post"><h3>Выберите нужные параметры (один из)</h3>
            <div class="form-row">    <!-- один строка для ввода -->
                {% for key, value in ids.items %}
                    <div class="form-group col-md-3">   <!-- одна форма ввода (дропдовн)-->
                      <label for="add">{{key}}</label>
                        <select id="add" name="{{key}}" class="form-control" tabindex="1">
                            <option selected disabled>Выберите...</option>
                            {% for row in value %}
                                <option>{{row}}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
            </div>
          <button type="submit" class="btn btn-primary w-100" id="add">Найти</button>
        </form>
    </div>

    {% if win == True %}
        <div class="alert alert-success mt-3" align="center" role="alert">
            <h3>Топ 5 лекарств поставляемых в аптеку:<br>
                <ol>
                    {% for i in medicaments %}
                        <li>{{i}};</li>
                    {% endfor %}
                </ol>
            </h3>
        </div>
    {% elif win == False %}
        <div class="alert alert-danger mt-3" align="center" role="alert">
            <h3>В аптеку не поставлялись ещё лекарства.</h3>
        </div>
    {% elif win == "0" %}
        <div class="alert alert-danger mt-3" align="center" role="alert">
            <h3>Укажите параметр</h3>
        </div>
    {% endif %}

{% endblock %}