{% extends "content.html" %}

{% block table %}

    <div class="badge badge-secondary p-2 w-100"><h3>Обновление таблицы {{name_of_table}}</h3>
        <form action="/main/work_with_tables/" method="post">
            <div class="form-row">    <!-- один строка для ввода -->
                {% for key, znach in name_of_rows.items %}
                    <div class="form-group col-md-3">   <!-- одна форма ввода -->
                      <label for="add">{{key}}</label>
                      <input class="form-control" id="add" name="{{znach.0}}" value="{{ value }}" autocomplete="off" placeholder="{{znach.1}}" maxlength="{{znach.2}}" type="{{znach.3}}" required>
                    </div>
                {% endfor %}

                {% for key, value in ids.items %}
                    <div class="form-group col-md-3">   <!-- одна форма ввода (дропдовн)-->
                      <label for="add">{{key}}</label>
                        <select id="add" name="{{value}}" class="form-control">
                            <option selected disabled>Выберите...</option>
                            {% for key_, value_ in tables.items %}
                                {% if value == key_ %}
                                    {% for j in value_ %}
                                        <option>{{j}}</option>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}

                {% if code %}   <!-- если требуется код -->
                    <div class="custom-file w-25 mt-4 ml-1">
                        <input type="file" class="custom-file-input" id="add" name="bar_code">
                        <label class="custom-file-label" for="add">Штрих-код</label>
                    </div>
                {% endif %}

            </div>
          <button type="submit" class="btn btn-primary w-100" id="add">Отправить данные на проверку</button>
        </form>
    </div>

    {% if win == True and addon == True %}
        <div class="alert alert-success mt-3" align="center" role="alert">
            <h3>Данные приняты, введите новые данные для изменния заданной записи</h3>
        </div>
    {% endif %}

    {% if win == True and addon == False %}
        <div class="alert alert-success mt-3" align="center" role="alert">
            <h3>Данные успешно обновленны</h3>
        </div>
    {% endif %}

    {% if win == False %}
        <div class="alert alert-danger mt-3" align="center" role="alert"><h3>{{cause}}</h3></div>
    {% endif %}

{% endblock %}